.header{
    background-color: beige;
    border-bottom: 1px solid black;
    color: black;
}
a{
    color: brown;
    padding: 10px;
    font-weight: bold;
}
a:hover{
    background: brown;
    color: white;
}

.container{
    margin-top: 3px;
    display: flex;
    justify-content: start;
    border-bottom: 1px solid brown;
}
a.logo{
    font-weight: bold;
}
