div{
    display: flex;
    justify-content: center;
    padding: 20px;
}
div input{
    border-radius: 18px 0px 0px 18px;
    border: none;
    background-color: white;
    padding: 12px 65px 12px 12px;
    outline: none;
}

div button{
    background-color: brown;
    border: none;
    color: white;
    border-radius: 0px 18px 18px 0px;
    padding: 10px;
}
::placeholder{
    color: brown;
    font-size: 15px;
}