<app-not-found [visible]="!food" notFoundMessage="Product not found!" resetLinkText="back to home page "></app-not-found>
<div  *ngIf="food" class="container">
    <img [src]="food.imageUrl" [alt]="food.name" />
    <div class="details">
        <div class="header">
            <span class="name">
                {{food.name}}
            </span> 
            <span class="favorite">
                ❤
            </span>
        </div>
           
            <div class="origins">
                <span *ngFor="let origin of food.origins">
                    {{origin}}
                </span>
            </div>

            <div class="tags">
                <app-tags [foodPageTags]="food.tags"></app-tags>
            </div>
            <div class="cooktime">
                take to cook about <strong>{{food.cookTime}}</strong> minutes
            </div>
            <div class="price">
                <span>{{food.price | currency}}</span>
            </div>
            <button (click)="addToCart()">Add to Card</button>
        </div>
        
    </div>

